<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-150</integer>
		<key>@MMK_R_Y</key>
		<integer>-150</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-50</integer>
		<key>U.sc</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-200</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-150</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-150</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Z</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-150</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>J.sc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_r</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-150</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-150</integer>
		<key>@MMK_R_o</key>
		<integer>-150</integer>
		<key>@MMK_R_r</key>
		<integer>-150</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-150</integer>
		<key>@MMK_R_x</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_dote</key>
		<integer>0</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>periodcentered_e_periodcentered</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>periodcentered_e_periodcentered</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_dote</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>periodcentered_e_periodcentered</key>
		<integer>-100</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
	</dict>
	<key>B.sc</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
	</dict>
	<key>IJ</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_r</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_r</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_Z</key>
		<integer>-50</integer>
	</dict>
	<key>P.sc</key>
	<dict>
		<key>A.sc</key>
		<integer>-50</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
	</dict>
	<key>U.sc</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>periodcentered_e</key>
		<integer>-50</integer>
		<key>periodcentered_e_periodcentered</key>
		<integer>-50</integer>
	</dict>
	<key>e4</key>
	<dict>
		<key>e1</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>periodcentered_e</key>
		<integer>-100</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>periodcentered_e</key>
		<integer>-100</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>f</key>
		<integer>-100</integer>
		<key>periodcentered_e</key>
		<integer>-100</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>@MMK_R_dote</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>periodcentered_e</key>
		<integer>-50</integer>
		<key>periodcentered_e_periodcentered</key>
		<integer>-50</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>periodcentered_e</key>
		<integer>-100</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_dote</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
