  <style media="screen">
  @font-face {
    font-family: "handjet";
    src:  url("handjet.woff") format("woff");
  }

  body{
    font-family: handjet;
    background-color: #378EB7 ;
    color:white;
  }
  svg{
    width:50px;
    display: inline;
    margin-left:auto;
    margin-right:auto;
  }
  svg.page2{
    width:500px;
    display: inline;
    margin-left:auto;
    margin-right:auto;
  }
  button{
    background:none;
    border: none;
    display: block;
    width:50px;
    margin-left:auto;
    margin-right:auto;
  }

  h1, h2{
    color:white;
    text-align:center;
    text-transform: capitalize;
  }
  .page2{
    display: none;
  }

</style>
