@charset "utf-8";
/*
** auteur : Romain VALERI
** titre : style_screen.css
** site : http://romainvaleri.online.fr
** contenu : styles d'affichage a l'ecran
** note : "Vivre ou mourrir, mais avec style."
*/

body {
  margin: 20px;
  background-color: #DDD;
  font: 10pt "Courier New", "Lucida Console", monospace;
}

#options{
  display: none; // cache les éléments HTML indiqués (options du generateur)
}
#sujet_2, #sujet_3, #sujet_4, #encart_1, #encart_2, #encart_3, #encart_4, #encart_5, #colonne, .texte-base, #talon, #titreOptions, #checkOptions, #preClipboard{
  display: none; // cache les éléments HTML indiqués
}
button {
  background: none;
  border:none;
  outline : 0;
  -moz-outline : 0;
}
