:root{
  --size: 50px;
  --couleurfond: #000;
}
body,html{
  overflow: hidden;
  width: 100vw;
  height:100vh;
  background: var(--couleurfond);
  margin:0;
  padding:0;
}
.container{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color:#fff;
  margin:0;
  padding:0;
  background: var(--couleurfond);
  height: 100%;
  font-size:var(--size);
  width:var(--size);

}

/* --------------------------------------------------------- */

.snake {
  margin:0;
  padding:0;
  /* height: auto; */
  background: var(--couleurfond);
  font-size:var(--size);
  width:100%;
  color:#fff;
  overflow-y: hidden;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {

}

.move-cursor {
  cursor: move;
  /* border: 3px solid #fff; */
  /* background: red; */
}

.grab-cursor {
  /* background: black; */
  cursor: grab;
  cursor: -webkit-grab;
}
