<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.sc</key>
	<string>A_.sc.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AE.sc</key>
	<string>A_E_.sc.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.sc</key>
	<string>A_acute.sc.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.sc</key>
	<string>A_circumflex.sc.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.sc</key>
	<string>A_dieresis.sc.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.sc</key>
	<string>A_grave.sc.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Aring.sc</key>
	<string>A_ring.sc.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Atilde.sc</key>
	<string>A_tilde.sc.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.sc</key>
	<string>B_.sc.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.sc</key>
	<string>C_.sc.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.sc</key>
	<string>C_cedilla.sc.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.sc</key>
	<string>D_.sc.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.sc</key>
	<string>E_.sc.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.sc</key>
	<string>E_acute.sc.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.sc</key>
	<string>E_circumflex.sc.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.sc</key>
	<string>E_dieresis.sc.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.sc</key>
	<string>E_grave.sc.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.sc</key>
	<string>F_.sc.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.sc</key>
	<string>G_.sc.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.sc</key>
	<string>H_.sc.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.sc</key>
	<string>I_.sc.glif</string>
	<key>IE</key>
	<string>I_E_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>IJ.sc</key>
	<string>I_J_.sc.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.sc</key>
	<string>I_acute.sc.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.sc</key>
	<string>I_circumflex.sc.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.sc</key>
	<string>I_dieresis.sc.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.sc</key>
	<string>I_grave.sc.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.sc</key>
	<string>J_.sc.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.sc</key>
	<string>K_.sc.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.sc</key>
	<string>L_.sc.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.sc</key>
	<string>M_.sc.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.sc</key>
	<string>N_.sc.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.sc</key>
	<string>N_tilde.sc.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.sc</key>
	<string>O_.sc.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>OE.sc</key>
	<string>O_E_.sc.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.sc</key>
	<string>O_acute.sc.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.sc</key>
	<string>O_circumflex.sc.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.sc</key>
	<string>O_dieresis.sc.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.sc</key>
	<string>O_grave.sc.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>Otilde.sc</key>
	<string>O_tilde.sc.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.sc</key>
	<string>P_.sc.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.sc</key>
	<string>Q_.sc.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.sc</key>
	<string>R_.sc.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.sc</key>
	<string>S_.sc.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.sc</key>
	<string>T_.sc.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.sc</key>
	<string>U_.sc.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.sc</key>
	<string>U_acute.sc.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.sc</key>
	<string>U_circumflex.sc.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.sc</key>
	<string>U_dieresis.sc.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.sc</key>
	<string>U_grave.sc.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.sc</key>
	<string>V_.sc.glif</string>
	<key>V_T_F</key>
	<string>V__T__F_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.sc</key>
	<string>W_.sc.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.sc</key>
	<string>X_.sc.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.sc</key>
	<string>Y_.sc.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.sc</key>
	<string>Y_acute.sc.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ycircumflex.sc</key>
	<string>Y_circumflex.sc.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.sc</key>
	<string>Y_dieresis.sc.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Ygrave.sc</key>
	<string>Y_grave.sc.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.sc</key>
	<string>Z_.sc.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.ss01</key>
	<string>asterisk.ss01.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.ss01</key>
	<string>bullet.ss01.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>diamond</key>
	<string>diamond.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dkshade</key>
	<string>dkshade.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e1</key>
	<string>e1.glif</string>
	<key>e2</key>
	<string>e2.glif</string>
	<key>e3</key>
	<string>e3.glif</string>
	<key>e4</key>
	<string>e4.glif</string>
	<key>e5</key>
	<string>e5.glif</string>
	<key>e6</key>
	<string>e6.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacutee</key>
	<string>eacutee.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.ss02</key>
	<string>eight.ss02.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emptyset</key>
	<string>emptyset.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>female</key>
	<string>female.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.ss02</key>
	<string>five.ss02.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.ss02</key>
	<string>four.ss02.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>fve</key>
	<string>fve.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>house</key>
	<string>house.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>ie</key>
	<string>ie.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>male</key>
	<string>male.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>musicalnote</key>
	<string>musicalnote.glif</string>
	<key>musicalnotedbl</key>
	<string>musicalnotedbl.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>ne</key>
	<string>ne.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.ss02</key>
	<string>nine.ss02.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>nouveauGlyphe</key>
	<string>nouveauG_lyphe.glif</string>
	<key>nouveauGlyphe.001</key>
	<string>nouveauG_lyphe.001.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.ss02</key>
	<string>one.ss02.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered_e</key>
	<string>periodcentered_e.glif</string>
	<key>periodcentered_e_periodcentered</key>
	<string>periodcentered_e_periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s_u_r_slash</key>
	<string>s_u_r_slash.glif</string>
	<key>se</key>
	<string>se.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.ss02</key>
	<string>seven.ss02.glif</string>
	<key>shade</key>
	<string>shade.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.ss02</key>
	<string>six.ss02.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>sun</key>
	<string>sun.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_t</key>
	<string>t_t.glif</string>
	<key>te</key>
	<string>te.glif</string>
	<key>tes</key>
	<string>tes.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.ss02</key>
	<string>three.ss02.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>triagdn</key>
	<string>triagdn.glif</string>
	<key>triagup</key>
	<string>triagup.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.ss02</key>
	<string>two.ss02.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u1D11E</key>
	<string>u1D_11E_.glif</string>
	<key>u1D122</key>
	<string>u1D_122.glif</string>
	<key>u1D413</key>
	<string>u1D_413.glif</string>
	<key>u1D413.001</key>
	<string>u1D_413.001.glif</string>
	<key>u1F155</key>
	<string>u1F_155.glif</string>
	<key>u1F300</key>
	<string>u1F_300.glif</string>
	<key>u1F304</key>
	<string>u1F_304.glif</string>
	<key>u1F30A</key>
	<string>u1F_30A_.glif</string>
	<key>u1F30D</key>
	<string>u1F_30D_.glif</string>
	<key>u1F30E</key>
	<string>u1F_30E_.glif</string>
	<key>u1F30F</key>
	<string>u1F_30F_.glif</string>
	<key>u1F311</key>
	<string>u1F_311.glif</string>
	<key>u1F312</key>
	<string>u1F_312.glif</string>
	<key>u1F313</key>
	<string>u1F_313.glif</string>
	<key>u1F314</key>
	<string>u1F_314.glif</string>
	<key>u1F315</key>
	<string>u1F_315.glif</string>
	<key>u1F316</key>
	<string>u1F_316.glif</string>
	<key>u1F317</key>
	<string>u1F_317.glif</string>
	<key>u1F318</key>
	<string>u1F_318.glif</string>
	<key>u1F393</key>
	<string>u1F_393.glif</string>
	<key>u1F3C3</key>
	<string>u1F_3C_3.glif</string>
	<key>u1F3C3.001</key>
	<string>u1F_3C_3.001.glif</string>
	<key>u1F3C3.002</key>
	<string>u1F_3C_3.002.glif</string>
	<key>u1F3C3.003</key>
	<string>u1F_3C_3.003.glif</string>
	<key>u1F3C3.004</key>
	<string>u1F_3C_3.004.glif</string>
	<key>u1F3C3.005</key>
	<string>u1F_3C_3.005.glif</string>
	<key>u1F3C3.006</key>
	<string>u1F_3C_3.006.glif</string>
	<key>u1F3C3.007</key>
	<string>u1F_3C_3.007.glif</string>
	<key>u1F3C3.008</key>
	<string>u1F_3C_3.008.glif</string>
	<key>u1F3C3.009</key>
	<string>u1F_3C_3.009.glif</string>
	<key>u1F3C3.010</key>
	<string>u1F_3C_3.010.glif</string>
	<key>u1F3C3.011</key>
	<string>u1F_3C_3.011.glif</string>
	<key>u1F3C3.012</key>
	<string>u1F_3C_3.012.glif</string>
	<key>u1F3C3.013</key>
	<string>u1F_3C_3.013.glif</string>
	<key>u1F3C3.014</key>
	<string>u1F_3C_3.014.glif</string>
	<key>u1F3C3.015</key>
	<string>u1F_3C_3.015.glif</string>
	<key>u1F3C3.016</key>
	<string>u1F_3C_3.016.glif</string>
	<key>u1F3C3.017</key>
	<string>u1F_3C_3.017.glif</string>
	<key>u1F3C3.018</key>
	<string>u1F_3C_3.018.glif</string>
	<key>u1F3C3.019</key>
	<string>u1F_3C_3.019.glif</string>
	<key>u1F3C3.020</key>
	<string>u1F_3C_3.020.glif</string>
	<key>u1F3C3.021</key>
	<string>u1F_3C_3.021.glif</string>
	<key>u1F3C3.022</key>
	<string>u1F_3C_3.022.glif</string>
	<key>u1F3C3.023</key>
	<string>u1F_3C_3.023.glif</string>
	<key>u1F3ED</key>
	<string>u1F_3E_D_.glif</string>
	<key>u1F3F3</key>
	<string>u1F_3F_3.glif</string>
	<key>u1F3F4</key>
	<string>u1F_3F_4.glif</string>
	<key>u1F3F7</key>
	<string>u1F_3F_7.glif</string>
	<key>u1F408</key>
	<string>u1F_408.glif</string>
	<key>u1F411</key>
	<string>u1F_411.glif</string>
	<key>u1F419</key>
	<string>u1F_419.glif</string>
	<key>u1F41F</key>
	<string>u1F_41F_.glif</string>
	<key>u1F424</key>
	<string>u1F_424.glif</string>
	<key>u1F426</key>
	<string>u1F_426.glif</string>
	<key>u1F440</key>
	<string>u1F_440.glif</string>
	<key>u1F441</key>
	<string>u1F_441.glif</string>
	<key>u1F446</key>
	<string>u1F_446.glif</string>
	<key>u1F449</key>
	<string>u1F_449.glif</string>
	<key>u1F44A</key>
	<string>u1F_44A_.glif</string>
	<key>u1F464</key>
	<string>u1F_464.glif</string>
	<key>u1F464.ss02</key>
	<string>u1F_464.ss02.glif</string>
	<key>u1F468</key>
	<string>u1F_468.glif</string>
	<key>u1F469</key>
	<string>u1F_469.glif</string>
	<key>u1F479</key>
	<string>u1F_479.glif</string>
	<key>u1F47D</key>
	<string>u1F_47D_.glif</string>
	<key>u1F47D.001</key>
	<string>u1F_47D_.001.glif</string>
	<key>u1F47E</key>
	<string>u1F_47E_.glif</string>
	<key>u1F480</key>
	<string>u1F_480.glif</string>
	<key>u1F496</key>
	<string>u1F_496.glif</string>
	<key>u1F4A3</key>
	<string>u1F_4A_3.glif</string>
	<key>u1F4AC</key>
	<string>u1F_4A_C_.glif</string>
	<key>u1F4C1</key>
	<string>u1F_4C_1.glif</string>
	<key>u1F4C2</key>
	<string>u1F_4C_2.glif</string>
	<key>u1F4C3</key>
	<string>u1F_4C_3.glif</string>
	<key>u1F4C4</key>
	<string>u1F_4C_4.glif</string>
	<key>u1F4C5</key>
	<string>u1F_4C_5.glif</string>
	<key>u1F4CD</key>
	<string>u1F_4C_D_.glif</string>
	<key>u1F4D1</key>
	<string>u1F_4D_1.glif</string>
	<key>u1F4D5</key>
	<string>u1F_4D_5.glif</string>
	<key>u1F4D6</key>
	<string>u1F_4D_6.glif</string>
	<key>u1F4D7</key>
	<string>u1F_4D_7.glif</string>
	<key>u1F4D8</key>
	<string>u1F_4D_8.glif</string>
	<key>u1F4D9</key>
	<string>u1F_4D_9.glif</string>
	<key>u1F4DE</key>
	<string>u1F_4D_E_.glif</string>
	<key>u1F4E1</key>
	<string>u1F_4E_1.glif</string>
	<key>u1F4E6</key>
	<string>u1F_4E_6.glif</string>
	<key>u1F4F6</key>
	<string>u1F_4F_6.glif</string>
	<key>u1F4F8</key>
	<string>u1F_4F_8.glif</string>
	<key>u1F4FB</key>
	<string>u1F_4F_B_.glif</string>
	<key>u1F500</key>
	<string>u1F_500.glif</string>
	<key>u1F504</key>
	<string>u1F_504.glif</string>
	<key>u1F50C</key>
	<string>u1F_50C_.glif</string>
	<key>u1F50D</key>
	<string>u1F_50D_.glif</string>
	<key>u1F50E</key>
	<string>u1F_50E_.glif</string>
	<key>u1F514</key>
	<string>u1F_514.glif</string>
	<key>u1F515</key>
	<string>u1F_515.glif</string>
	<key>u1F517</key>
	<string>u1F_517.glif</string>
	<key>u1F52B</key>
	<string>u1F_52B_.glif</string>
	<key>u1F52B.001</key>
	<string>u1F_52B_.001.glif</string>
	<key>u1F578</key>
	<string>u1F_578.glif</string>
	<key>u1F590</key>
	<string>u1F_590.glif</string>
	<key>u1F5BC</key>
	<string>u1F_5B_C_.glif</string>
	<key>u1F5D1</key>
	<string>u1F_5D_1.glif</string>
	<key>u1F5D2</key>
	<string>u1F_5D_2.glif</string>
	<key>u1F5D3</key>
	<string>u1F_5D_3.glif</string>
	<key>u1F5D3.ss02</key>
	<string>u1F_5D_3.ss02.glif</string>
	<key>u1F5E3</key>
	<string>u1F_5E_3.glif</string>
	<key>u1F5E3.ss02</key>
	<string>u1F_5E_3.ss02.glif</string>
	<key>u1F5E8</key>
	<string>u1F_5E_8.glif</string>
	<key>u1F5E9</key>
	<string>u1F_5E_9.glif</string>
	<key>u1F601</key>
	<string>u1F_601.glif</string>
	<key>u1F604</key>
	<string>u1F_604.glif</string>
	<key>u1F605</key>
	<string>u1F_605.glif</string>
	<key>u1F606</key>
	<string>u1F_606.glif</string>
	<key>u1F609</key>
	<string>u1F_609.glif</string>
	<key>u1F60B</key>
	<string>u1F_60B_.glif</string>
	<key>u1F60D</key>
	<string>u1F_60D_.glif</string>
	<key>u1F611</key>
	<string>u1F_611.glif</string>
	<key>u1F613</key>
	<string>u1F_613.glif</string>
	<key>u1F616</key>
	<string>u1F_616.glif</string>
	<key>u1F61C</key>
	<string>u1F_61C_.glif</string>
	<key>u1F61E</key>
	<string>u1F_61E_.glif</string>
	<key>u1F620</key>
	<string>u1F_620.glif</string>
	<key>u1F621</key>
	<string>u1F_621.glif</string>
	<key>u1F622</key>
	<string>u1F_622.glif</string>
	<key>u1F623</key>
	<string>u1F_623.glif</string>
	<key>u1F62B</key>
	<string>u1F_62B_.glif</string>
	<key>u1F631</key>
	<string>u1F_631.glif</string>
	<key>u1F635</key>
	<string>u1F_635.glif</string>
	<key>u1F641</key>
	<string>u1F_641.glif</string>
	<key>u1F642</key>
	<string>u1F_642.glif</string>
	<key>u1F681</key>
	<string>u1F_681.glif</string>
	<key>u1F698</key>
	<string>u1F_698.glif</string>
	<key>u1F6A9</key>
	<string>u1F_6A_9.glif</string>
	<key>u1F6AA</key>
	<string>u1F_6A_A_.glif</string>
	<key>u1F6F0</key>
	<string>u1F_6F_0.glif</string>
	<key>u1F73A</key>
	<string>u1F_73A_.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B2</key>
	<string>uni00B_2.glif</string>
	<key>uni00B3</key>
	<string>uni00B_3.glif</string>
	<key>uni00B9</key>
	<string>uni00B_9.glif</string>
	<key>uni029C</key>
	<string>uni029C_.glif</string>
	<key>uni02C2</key>
	<string>uni02C_2.glif</string>
	<key>uni02C3</key>
	<string>uni02C_3.glif</string>
	<key>uni02C4</key>
	<string>uni02C_4.glif</string>
	<key>uni02C5</key>
	<string>uni02C_5.glif</string>
	<key>uni02D0</key>
	<string>uni02D_0.glif</string>
	<key>uni0394</key>
	<string>uni0394.glif</string>
	<key>uni03A9</key>
	<string>uni03A_9.glif</string>
	<key>uni03BC</key>
	<string>uni03B_C_.glif</string>
	<key>uni1D6B</key>
	<string>uni1D_6B_.glif</string>
	<key>uni2023</key>
	<string>uni2023.glif</string>
	<key>uni2042</key>
	<string>uni2042.glif</string>
	<key>uni204C</key>
	<string>uni204C_.glif</string>
	<key>uni204D</key>
	<string>uni204D_.glif</string>
	<key>uni2051</key>
	<string>uni2051.glif</string>
	<key>uni2070</key>
	<string>uni2070.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2075</key>
	<string>uni2075.glif</string>
	<key>uni2076</key>
	<string>uni2076.glif</string>
	<key>uni2077</key>
	<string>uni2077.glif</string>
	<key>uni2078</key>
	<string>uni2078.glif</string>
	<key>uni2079</key>
	<string>uni2079.glif</string>
	<key>uni20DF</key>
	<string>uni20D_F_.glif</string>
	<key>uni2184.circled</key>
	<string>uni2184.circled.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni21A4</key>
	<string>uni21A_4.glif</string>
	<key>uni21A5</key>
	<string>uni21A_5.glif</string>
	<key>uni21A6</key>
	<string>uni21A_6.glif</string>
	<key>uni21A7</key>
	<string>uni21A_7.glif</string>
	<key>uni21BA</key>
	<string>uni21B_A_.glif</string>
	<key>uni21BB</key>
	<string>uni21B_B_.glif</string>
	<key>uni21E6</key>
	<string>uni21E_6.glif</string>
	<key>uni21E7</key>
	<string>uni21E_7.glif</string>
	<key>uni21E8</key>
	<string>uni21E_8.glif</string>
	<key>uni21E9</key>
	<string>uni21E_9.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni22B9</key>
	<string>uni22B_9.glif</string>
	<key>uni22D4</key>
	<string>uni22D_4.glif</string>
	<key>uni2307</key>
	<string>uni2307.glif</string>
	<key>uni2318</key>
	<string>uni2318.glif</string>
	<key>uni231B</key>
	<string>uni231B_.glif</string>
	<key>uni231B.001</key>
	<string>uni231B_.001.glif</string>
	<key>uni23E9</key>
	<string>uni23E_9.glif</string>
	<key>uni23EA</key>
	<string>uni23E_A_.glif</string>
	<key>uni23ED</key>
	<string>uni23E_D_.glif</string>
	<key>uni23EE</key>
	<string>uni23E_E_.glif</string>
	<key>uni23EF</key>
	<string>uni23E_F_.glif</string>
	<key>uni23F3</key>
	<string>uni23F_3.glif</string>
	<key>uni23F3.001</key>
	<string>uni23F_3.001.glif</string>
	<key>uni23F9</key>
	<string>uni23F_9.glif</string>
	<key>uni2442</key>
	<string>uni2442.glif</string>
	<key>uni2443</key>
	<string>uni2443.glif</string>
	<key>uni24D5</key>
	<string>uni24D_5.glif</string>
	<key>uni25A4</key>
	<string>uni25A_4.glif</string>
	<key>uni25A5</key>
	<string>uni25A_5.glif</string>
	<key>uni25A6</key>
	<string>uni25A_6.glif</string>
	<key>uni25A7</key>
	<string>uni25A_7.glif</string>
	<key>uni25A8</key>
	<string>uni25A_8.glif</string>
	<key>uni25A9</key>
	<string>uni25A_9.glif</string>
	<key>uni25B3</key>
	<string>uni25B_3.glif</string>
	<key>uni25B6</key>
	<string>uni25B_6.glif</string>
	<key>uni25B7</key>
	<string>uni25B_7.glif</string>
	<key>uni25BD</key>
	<string>uni25B_D_.glif</string>
	<key>uni25C0</key>
	<string>uni25C_0.glif</string>
	<key>uni25C1</key>
	<string>uni25C_1.glif</string>
	<key>uni25C9</key>
	<string>uni25C_9.glif</string>
	<key>uni25CE</key>
	<string>uni25C_E_.glif</string>
	<key>uni2600</key>
	<string>uni2600.glif</string>
	<key>uni2601</key>
	<string>uni2601.glif</string>
	<key>uni2601.001</key>
	<string>uni2601.001.glif</string>
	<key>uni2604</key>
	<string>uni2604.glif</string>
	<key>uni2605</key>
	<string>uni2605.glif</string>
	<key>uni260A</key>
	<string>uni260A_.glif</string>
	<key>uni260B</key>
	<string>uni260B_.glif</string>
	<key>uni260D</key>
	<string>uni260D_.glif</string>
	<key>uni260E</key>
	<string>uni260E_.glif</string>
	<key>uni2620</key>
	<string>uni2620.glif</string>
	<key>uni262F</key>
	<string>uni262F_.glif</string>
	<key>uni263D</key>
	<string>uni263D_.glif</string>
	<key>uni263E</key>
	<string>uni263E_.glif</string>
	<key>uni263F</key>
	<string>uni263F_.glif</string>
	<key>uni2641</key>
	<string>uni2641.glif</string>
	<key>uni265A</key>
	<string>uni265A_.glif</string>
	<key>uni265B</key>
	<string>uni265B_.glif</string>
	<key>uni265C</key>
	<string>uni265C_.glif</string>
	<key>uni265D</key>
	<string>uni265D_.glif</string>
	<key>uni265E</key>
	<string>uni265E_.glif</string>
	<key>uni265F</key>
	<string>uni265F_.glif</string>
	<key>uni2669</key>
	<string>uni2669.glif</string>
	<key>uni266C</key>
	<string>uni266C_.glif</string>
	<key>uni266D</key>
	<string>uni266D_.glif</string>
	<key>uni266F</key>
	<string>uni266F_.glif</string>
	<key>uni267B</key>
	<string>uni267B_.glif</string>
	<key>uni2680</key>
	<string>uni2680.glif</string>
	<key>uni2681</key>
	<string>uni2681.glif</string>
	<key>uni2682</key>
	<string>uni2682.glif</string>
	<key>uni2683</key>
	<string>uni2683.glif</string>
	<key>uni2684</key>
	<string>uni2684.glif</string>
	<key>uni2685</key>
	<string>uni2685.glif</string>
	<key>uni2697</key>
	<string>uni2697.glif</string>
	<key>uni2698</key>
	<string>uni2698.glif</string>
	<key>uni26A1</key>
	<string>uni26A_1.glif</string>
	<key>uni26A2</key>
	<string>uni26A_2.glif</string>
	<key>uni26A3</key>
	<string>uni26A_3.glif</string>
	<key>uni26A4</key>
	<string>uni26A_4.glif</string>
	<key>uni26A5</key>
	<string>uni26A_5.glif</string>
	<key>uni26A6</key>
	<string>uni26A_6.glif</string>
	<key>uni26A7</key>
	<string>uni26A_7.glif</string>
	<key>uni26A8</key>
	<string>uni26A_8.glif</string>
	<key>uni26A9</key>
	<string>uni26A_9.glif</string>
	<key>uni26AF</key>
	<string>uni26A_F_.glif</string>
	<key>uni26B2</key>
	<string>uni26B_2.glif</string>
	<key>uni26F3</key>
	<string>uni26F_3.glif</string>
	<key>uni26F5</key>
	<string>uni26F_5.glif</string>
	<key>uni26FD</key>
	<string>uni26F_D_.glif</string>
	<key>uni2702</key>
	<string>uni2702.glif</string>
	<key>uni2708</key>
	<string>uni2708.glif</string>
	<key>uni2709</key>
	<string>uni2709.glif</string>
	<key>uni270B</key>
	<string>uni270B_.glif</string>
	<key>uni270E</key>
	<string>uni270E_.glif</string>
	<key>uni270F</key>
	<string>uni270F_.glif</string>
	<key>uni2710</key>
	<string>uni2710.glif</string>
	<key>uni2713</key>
	<string>uni2713.glif</string>
	<key>uni2723</key>
	<string>uni2723.glif</string>
	<key>uni2724</key>
	<string>uni2724.glif</string>
	<key>uni2726</key>
	<string>uni2726.glif</string>
	<key>uni274C</key>
	<string>uni274C_.glif</string>
	<key>uni274E</key>
	<string>uni274E_.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni27A1</key>
	<string>uni27A_1.glif</string>
	<key>uni27A4</key>
	<string>uni27A_4.glif</string>
	<key>uni27B0</key>
	<string>uni27B_0.glif</string>
	<key>uni27BF</key>
	<string>uni27B_F_.glif</string>
	<key>uni2934</key>
	<string>uni2934.glif</string>
	<key>uni2935</key>
	<string>uni2935.glif</string>
	<key>uni2936</key>
	<string>uni2936.glif</string>
	<key>uni2937</key>
	<string>uni2937.glif</string>
	<key>uni2982</key>
	<string>uni2982.glif</string>
	<key>uni299A</key>
	<string>uni299A_.glif</string>
	<key>uni29BE</key>
	<string>uni29B_E_.glif</string>
	<key>uni29BF</key>
	<string>uni29B_F_.glif</string>
	<key>uni2B05</key>
	<string>uni2B_05.glif</string>
	<key>uni2B06</key>
	<string>uni2B_06.glif</string>
	<key>uni2B07</key>
	<string>uni2B_07.glif</string>
	<key>uni2B09</key>
	<string>uni2B_09.glif</string>
	<key>uniF8FF</key>
	<string>uniF_8F_F_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.ss02</key>
	<string>zero.ss02.glif</string>
	<key>zero.ss03</key>
	<string>zero.ss03.glif</string>
</dict>
</plist>
