/* //code by Julien Drochon
//www.julien-drochon.net
//for Soft Machine Lesson at ESA Pyrenees : www.esapyrenees.fr
// License Creative Commons BY-NC */

/* commentaire */
/* Webfont: Dia-Black */@font-face {
font-family: 'DiaBlack';
src: url('fonts/Dia-Black.eot'); /* IE9 Compat Modes */
src: url('fonts/Dia-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/Dia-Black.woff') format('woff'), /* Modern Browsers */
url('fonts/Dia-Black.ttf') format('truetype'); /* Safari, Android, iOS */
url('fonts/Dia-Black.svg#Dia-Black') format('svg'), /* Legacy iOS */
font-style:normal;
font-weight:600;
text-rendering: optimizeLegibility;
}
/* Webfont: Dia-Bold */@font-face {
font-family: 'DiaBold';
src: url('fonts/Dia-Bold.eot'); /* IE9 Compat Modes */
src: url('fonts/Dia-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/Dia-Bold.woff') format('woff'), /* Modern Browsers */
url('fonts/Dia-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
url('fonts/Dia-Bold.svg#Dia-Bold') format('svg'), /* Legacy iOS */
font-style: normal;
font-weight:bold;
text-rendering: optimizeLegibility;
}
/* Webfont: Dia-Regular */@font-face {
font-family: 'DiaRegular';
src: url('fonts/Dia-Regular.eot'); /* IE9 Compat Modes */
src: url('fonts/Dia-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/Dia-Regular.woff') format('woff'), /* Modern Browsers */
url('fonts/Dia-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
url('fonts/Dia-Regular.svg#Dia-Regular') format('svg'), /* Legacy iOS */
font-style: normal;
font-weight: normal;
text-rendering: optimizeLegibility;
}

body{
  padding: 0;
  margin:0;
  width:100vw;
  height:100vh;
  background-color: #000;
  overflow: hidden;
  color:blue;
}

/* #maVideo{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
} */
#grid{
  position: fixed;
  z-index:100;
  top:0px;
  left: 50%;
  transform: translateX(-50%);

  height:100vh;
  z-index:100;
  font-family: 'DiaBold';

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
}

#titre1 {
  font-family: 'DiaBlack';
  mix-blend-mode: multiply;
  font-size: 4em;
  grid-column: 2/2;
  grid-row: 2/2;
}
#qui {
  font-family: 'DiaBold';
  font-size: .8em;
  grid-column: 4/4;
  grid-row: 1/1;
}
#date {
  font-family: 'DiaRegular';
  font-size: 1.8em;
  grid-column: 4/4;
  grid-row: 3/4;
}
#lieu{
  font-family: 'DiaBlack';
  font-size: 1em;
  grid-column:1/1;
  grid-row: 1/1;
}
#atelier{
  font-family: 'DiaRegular';
  font-size: 1em;
  grid-column:3/3;
  grid-row: 4/4;
}
.regular{
  font-family: 'DiaRegular';
}

/* img{
  display: inline;
  position:fixed;
  z-index:0;
} */
#imageDiv{
  position: fixed;
  z-index:0;
}
