@font-face {
	src: url('fonts/Cheee_Variable.woff2');
	font-family:'Cheee Variable';
	font-style: normal;
}

@font-face {
	src: url('/assets/fonts/Zycon.woff2');
	font-family:'Zycon';
	font-style: normal;
}
