@font-face {
	src: url('fonts/ZeitungProBeta.woff2');
	font-family:'Zeitung Variable';
	font-style: normal;
}
@font-face {
	src: url('fonts/Zycon.woff2');
	font-family:'Zycon';
	font-style: normal;
}

html,body{
	width:100%;
	height:100%;
}

#speech{
	font-size: 10em;
	font-variation-settings: 'yest' 500,'gvty' 1000;
	width:1000px;
	height:500px;
	font-family: Cheee Variable;
}
